h1 {
    background-color: #14ebbc;
    padding: 30px 50px;
}


table th {
    background-color: #8fddcb;
    padding: 10px 20px;
}

table td {
    background-color: #daf1d4;
    padding: 10px 20px;
}

.notice {
    background-color: #ccf;
    padding: 5px;
}